<TMPL_INCLUDE NAME="header.tmpl">
		<h1><TMPL_VAR NAME="ERROR_TITLE"></h1>
		<p><TMPL_VAR NAME="ERROR_MSG"></p>
		<p>go to <a href="<TMPL_VAR NAME="BASE_URL">"><TMPL_VAR NAME="BASE_URL"></a></p>
<TMPL_INCLUDE NAME="footer.tmpl"> 